<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<nav class="navbar-fluid navbar-expand-lg navbar-light nav ">
        <div class="container-fluid print"></div>
        <div class="line1"></div>
        <div class="line2"></div>
        <a class="navbar-brand brand" routerLink="">Drumstick</a>            
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText" >           
            <ul class="navbar-nav mr-auto">        
                <li class="nav-item" style="padding-right: 30px;margin-top: 10px;">
                    <a style="color: gray;"> About</a>
                </li>
                <li class="nav-item" style="padding-right: 17px;">
                    <button class="btn login" style="height: 40px;">
                        <a class="nav-link" style="padding: 0 8px;" href="/login">Login</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="btn signup" style="height: 40px;">
                        <a class="nav-link" style="padding: 0 8px;" href="/signup">Signup</a>
                    </button>                    
                </li>
            </ul>      
        </div>                
    
</nav>
