<app-navbar></app-navbar>
<div class="container-fluid" style="background: #dadada8f; height:100%;">
    <div class="row">
        <div class="col-md sidebar">            
            <h5 class="sidenavs"><a routerLink="/">Home</a></h5>
            <h6 class="sidenavs"><a href="/profile">Profile</a></h6>
            <h6 class="sidenavs"><a routerLink="/communities">My Communities</a></h6>
            <h6 class="sidenavs"><a routerLink="/notifications">Notifications</a></h6>
            <h6 class="sidenavs-active"><a routerLink="/projects">Projects</a></h6>
        </div>
        <div class="col-md-9">
            <div class="row" style="margin-top: 21px;">
                <div class="col-md-9">
                    projects
                </div>                
                <div class="col-md" style="text-align: center;">
                    meme
                </div>
                <div class="col-md-1"></div>
            </div> 
            <div class="row"> 
            </div>           
        </div>
        <div class="col"></div>        
    </div>        
</div>