<app-navbar></app-navbar>
<div class="container-fluid" style="background: #f0f0f08f; height:100%;">
    <div class="row">
        <div class="col-md-2">    
            <div class="row">                
                <div class="col sidepanel">
                    <div id="mySidepanel" class="sidebar">  
                        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>          
                        <img class="prof-icon" src="/assets/random10.jpg">   
                        <h5 class="side-user"> Username</h5>     
                        <h6 class="sidenavs"><a routerLink="/"> <span class="addon"><</span><span class="addon">/</span>Home<span class="addon">></span>  </a></h6>
                        <p class="sidenavs-active"><a routerLink="/profile"> <span class="addon"><</span><span class="addon">/</span>Profile<span class="addon">></span> </a></p>
                        <p class="sidenavs"><a routerLink="/communities"> <span class="addon"><</span><span class="addon">/</span>Communities<span class="addon">></span> </a></p>
                        <p class="sidenavs"><a routerLink="/notifications"> <span class="addon"><</span><span class="addon">/</span>Notifications<span class="addon">></span> </a></p>
                        <p class="sidenavs"><a routerLink="/projects"> <span class="addon"><</span><span class="addon">/</span>Projects<span class="addon">></span> </a></p>
                    </div>

                    <i (click)="openNav()" class="fas fa-bars openbtn"></i>                    
                </div>                
                <div class="col"></div>
            </div>                            
        </div>
        <div class="col-md-9">
            <div class="row" style="margin-top: 21px; margin-left: 50px;">
                <div class="col-md-11">                    
                    <h4 class="heading">My Projects</h4>                        
                    <input class="search" type="text" placeholder="Search">                                           
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Project Name</th>
                                <th scope="col" class="section">Team</th>
                                <th scope="col" class="section">Due date</th>
                                <th scope="col" class="section">Priority</th>
                                <th scope="col" class="section">Status</th>
                            </tr>
                        </thead>                        
                        <tbody class="list">
                            
                                <!-- Loop projects-->
                                <tr class="project">
                                <th scope="row">
                                    <img src="assets/project_icon.png">
                                    <h5>Stack Overflow</h5>
                                </th>
                                <td class="team">StackDevs</td>
                                <td>30/10/2020</td>
                                <td>High</td>
                                <td>
                                    <span class="open"><img src="/assets/open.png"></span>
                                    <span class="money"><img src="/assets/money.png"></span>                                    
                                    <span class="not">not started</span>                                    
                                </td>
                                </tr>
                                <tr class="project">
                                <th scope="row">
                                    <img src="assets/project_icon.png">
                                    <h5>Stack Overflow</h5>
                                </th>
                                <td class="team">StackDevs</td>
                                <td>30/10/2020</td>
                                <td>High</td>
                                <td>
                                    <span class="open"><img src="/assets/open.png"></span>
                                    <span class="money"><img src="/assets/money.png"></span>                                    
                                    <span class="not">not started</span>                                    
                                </td>
                                </tr>
                                <tr class="project">
                                <th scope="row">
                                    <img src="assets/project_icon.png">
                                    <h5>Stack Overflow</h5>
                                </th>
                                <td class="team">StackDevs</td>
                                <td>30/10/2020</td>
                                <td>High</td>
                                <td>
                                    <span class="open"><img src="/assets/open.png"></span>
                                    <span class="money"><img src="/assets/money.png"></span>                                    
                                    <span class="not">not started</span>                                    
                                </td>
                                </tr>
                                <tr class="project">
                                <th scope="row">
                                    <img src="assets/project_icon.png">
                                    <h5>Stack Overflow</h5>
                                </th>
                                <td class="team">StackDevs</td>
                                <td>30/10/2020</td>
                                <td>High</td>
                                <td>
                                    <span class="open"><img src="/assets/open.png"></span>
                                    <span class="money"><img src="/assets/money.png"></span>                                    
                                    <span class="not">not started</span>                                    
                                </td>
                                </tr>
                                <tr class="project">
                                <th scope="row">
                                    <img src="assets/project_icon.png">
                                    <h5>Stack Overflow</h5>
                                </th>
                                <td class="team">StackDevs</td>
                                <td>30/10/2020</td>
                                <td>High</td>
                                <td>
                                    <span class="open"><img src="/assets/open.png"></span>
                                    <span class="money"><img src="/assets/money.png"></span>                                    
                                    <span class="not">not started</span>                                    
                                </td>
                                </tr>
                                <tr class="project">
                                <th scope="row">
                                    <img src="assets/project_icon.png">
                                    <h5>Stack Overflow</h5>
                                </th>
                                <td class="team">StackDevs</td>
                                <td>30/10/2020</td>
                                <td>High</td>
                                <td>
                                    <span class="open"><img src="/assets/open.png"></span>
                                    <span class="money"><img src="/assets/money.png"></span>                                    
                                    <span class="not">not started</span>                                    
                                </td>
                                </tr>
                                <tr class="project">
                                <th scope="row">
                                    <img src="assets/project_icon.png">
                                    <h5>Stack Overflow</h5>
                                </th>
                                <td class="team">StackDevs</td>
                                <td>30/10/2020</td>
                                <td>High</td>
                                <td>
                                    <span class="open"><img src="/assets/open.png"></span>
                                    <span class="money"><img src="/assets/money.png"></span>                                    
                                    <span class="not">not started</span>                                    
                                </td>
                                </tr>
                                <tr class="project">
                                <th scope="row">
                                    <img src="assets/project_icon.png">
                                    <h5>Stack Overflow</h5>
                                </th>
                                <td class="team">StackDevs</td>
                                <td>30/10/2020</td>
                                <td>High</td>
                                <td>
                                    <span class="open"><img src="/assets/open.png"></span>
                                    <span class="money"><img src="/assets/money.png"></span>                                    
                                    <span class="not">not started</span>                                    
                                </td>
                                </tr>
                                <tr class="project">
                                <th scope="row">
                                    <img src="assets/project_icon.png">
                                    <h5>Stack Overflow</h5>
                                </th>
                                <td class="team">StackDevs</td>
                                <td>30/10/2020</td>
                                <td>High</td>
                                <td>
                                    <span class="open"><img src="/assets/open.png"></span>
                                    <span class="money"><img src="/assets/money.png"></span>                                    
                                    <span class="not">not started</span>                                    
                                </td>
                                </tr> 
                                <!-- End loop-->
                           
                        </tbody>                    
                    </table>
                </div>                
                <div class="col-md" style="text-align: center;">
                    meme
                </div>
                <div class="col-md-1"></div>
            </div> 
            <div class="row"> 
            </div>           
        </div>
        <div class="col"></div>        
    </div>        
</div>