/** side panel **/
.sidepanel {    
    
    .fa-bars {
      position: relative;
      margin: 10px;
      padding: 10px;
      font-size: 25px;
      background: white; 
      border-radius: 30%;
      text-shadow: 2px 2px 3px #ff634733;
    }
    .sidebar {
      background: white;
      text-align: center;
      width: 0;    
      position: fixed;    
      overflow-x: hidden;
      z-index: 1;
      top: 7vh;
      left: 0;
      transition: 0.5s;
      height: 93vh;
    }
    
    .closebtn {
      position: absolute;
      top: 0;
      right: 20px;
      font-size: 36px;
      margin-left: 50px;
      color: grey;
    }

    .prof-icon {
      height: 150px;
      width: 150px;
      margin-top: 50px;    
      padding: 10px;
      border-radius: 50%;    
    }

    .side-user {
      color: #FD7F20;    
    }
    
    .sidenavs {
        padding:10px 0;   
        margin-left: -15px; 
        margin-right: -15px;     
        margin-top: -5px;
        display: block;
        transition: 0.3s;
    }

    .addon {
      color: #ff634733;     
      font-size: 18px;      
    }
    
    .sidenavs-active {
        padding:20px 0;  
        margin-top: -5px; 
        margin-left: -15px; 
        margin-right: -15px; 
        background-color: tomato;    
    }
    
    .sidenavs-active a {
        color: white;
        font-weight: bold;
        
        .addon {
          color: #bebebe; 
          font-weight: bold;                  
        }
    }
    
    .sidenavs:hover,.sidenavs:active,.sidenavs:focus {
        background: #ff634733;    
    
        a {
            color: tomato;
        }

        .addon {
          color: white;           
        }
    }
    
    .sidenavs a {
        color: black;
        font-weight: normal;
    }
    
    .sidebar h6 {
        margin-top: 20%;
    }
  
  }


  
.heading {
    color:#FD7F20;
    font-weight: bolder;
    margin-top: 30px;
    margin-left: 20px; 
    display: inline-block;
}

.search {
    display: inline-block;
    margin-left: 68%;
}

.project img {
    height: 30px;
    width: 30px;
    display: inline-block;
}

.project h5 {
    color:#FD7F20;
    display: inline-block;
    font-weight: bolder;
    margin-left: 15px;
}

.project td {
    text-align: center;
}

.section {
    text-align: center;
}

.team {
    color:#08DD80;    
}

.not {
    background:#C4C4C4;
    padding: 7px 25px;
    border-radius: 20px;
    display: inline-block;
    margin-left: 30px;
}

.open img {
    display: inline-block;
    height: 20px;
    width: 20px;
}

.list {    
    max-height: 75vh;    
    overflow-y: scroll;
}

.money img {
    display: inline-block;
    height: 20px;
    width: 20px;
}
