<app-navbar></app-navbar>
<div class="container-fluid" style="background: #dadada8f; height:100%;">
    <div class="row">
        <div class="col-md sidebar">       
            <img class="prof-icon" src="/assets/random10.jpg">        
            <h4 class="side-user"> Username</h4>     
            <h5 class="sidenavs"><a routerLink="/">Home</a></h5>
            <h6 class="sidenavs"><a href="/profile">Profile</a></h6>
            <h6 class="sidenavs"><a routerLink="/communities">Communities</a></h6>
            <h6 class="sidenavs"><a routerLink="/notifications">Notifications</a></h6>
            <h6 class="sidenavs-active"><a routerLink="/projects">Projects</a></h6>
        </div>
        <div class="col-md-9">
            <div class="row" style="margin-top: 21px; margin-left: 50px;">
                <div class="col-md-11">                    
                    <h4 class="heading">My Projects</h4>                        
                    <input class="search" type="text" placeholder="Search">                                           
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Project Name</th>
                                <th scope="col" class="section">Team</th>
                                <th scope="col" class="section">Due date</th>
                                <th scope="col" class="section">Priority</th>
                                <th scope="col" class="section">Status</th>
                            </tr>
                        </thead>                        
                        <tbody class="list">
                            
                                <!-- Loop projects-->
                                <tr class="project">
                                <th scope="row">
                                    <img src="assets/project_icon.png">
                                    <h5>Stack Overflow</h5>
                                </th>
                                <td class="team">StackDevs</td>
                                <td>30/10/2020</td>
                                <td>High</td>
                                <td>
                                    <span class="open"><img src="/assets/open.png"></span>
                                    <span class="money"><img src="/assets/money.png"></span>                                    
                                    <span class="not">not started</span>                                    
                                </td>
                                </tr>
                                <tr class="project">
                                <th scope="row">
                                    <img src="assets/project_icon.png">
                                    <h5>Stack Overflow</h5>
                                </th>
                                <td class="team">StackDevs</td>
                                <td>30/10/2020</td>
                                <td>High</td>
                                <td>
                                    <span class="open"><img src="/assets/open.png"></span>
                                    <span class="money"><img src="/assets/money.png"></span>                                    
                                    <span class="not">not started</span>                                    
                                </td>
                                </tr>
                                <tr class="project">
                                <th scope="row">
                                    <img src="assets/project_icon.png">
                                    <h5>Stack Overflow</h5>
                                </th>
                                <td class="team">StackDevs</td>
                                <td>30/10/2020</td>
                                <td>High</td>
                                <td>
                                    <span class="open"><img src="/assets/open.png"></span>
                                    <span class="money"><img src="/assets/money.png"></span>                                    
                                    <span class="not">not started</span>                                    
                                </td>
                                </tr>
                                <tr class="project">
                                <th scope="row">
                                    <img src="assets/project_icon.png">
                                    <h5>Stack Overflow</h5>
                                </th>
                                <td class="team">StackDevs</td>
                                <td>30/10/2020</td>
                                <td>High</td>
                                <td>
                                    <span class="open"><img src="/assets/open.png"></span>
                                    <span class="money"><img src="/assets/money.png"></span>                                    
                                    <span class="not">not started</span>                                    
                                </td>
                                </tr>
                                <tr class="project">
                                <th scope="row">
                                    <img src="assets/project_icon.png">
                                    <h5>Stack Overflow</h5>
                                </th>
                                <td class="team">StackDevs</td>
                                <td>30/10/2020</td>
                                <td>High</td>
                                <td>
                                    <span class="open"><img src="/assets/open.png"></span>
                                    <span class="money"><img src="/assets/money.png"></span>                                    
                                    <span class="not">not started</span>                                    
                                </td>
                                </tr>
                                <tr class="project">
                                <th scope="row">
                                    <img src="assets/project_icon.png">
                                    <h5>Stack Overflow</h5>
                                </th>
                                <td class="team">StackDevs</td>
                                <td>30/10/2020</td>
                                <td>High</td>
                                <td>
                                    <span class="open"><img src="/assets/open.png"></span>
                                    <span class="money"><img src="/assets/money.png"></span>                                    
                                    <span class="not">not started</span>                                    
                                </td>
                                </tr>
                                <tr class="project">
                                <th scope="row">
                                    <img src="assets/project_icon.png">
                                    <h5>Stack Overflow</h5>
                                </th>
                                <td class="team">StackDevs</td>
                                <td>30/10/2020</td>
                                <td>High</td>
                                <td>
                                    <span class="open"><img src="/assets/open.png"></span>
                                    <span class="money"><img src="/assets/money.png"></span>                                    
                                    <span class="not">not started</span>                                    
                                </td>
                                </tr>
                                <tr class="project">
                                <th scope="row">
                                    <img src="assets/project_icon.png">
                                    <h5>Stack Overflow</h5>
                                </th>
                                <td class="team">StackDevs</td>
                                <td>30/10/2020</td>
                                <td>High</td>
                                <td>
                                    <span class="open"><img src="/assets/open.png"></span>
                                    <span class="money"><img src="/assets/money.png"></span>                                    
                                    <span class="not">not started</span>                                    
                                </td>
                                </tr>
                                <tr class="project">
                                <th scope="row">
                                    <img src="assets/project_icon.png">
                                    <h5>Stack Overflow</h5>
                                </th>
                                <td class="team">StackDevs</td>
                                <td>30/10/2020</td>
                                <td>High</td>
                                <td>
                                    <span class="open"><img src="/assets/open.png"></span>
                                    <span class="money"><img src="/assets/money.png"></span>                                    
                                    <span class="not">not started</span>                                    
                                </td>
                                </tr> 
                                <!-- End loop-->
                           
                        </tbody>                    
                    </table>
                </div>                
                <div class="col-md" style="text-align: center;">
                    meme
                </div>
                <div class="col-md-1"></div>
            </div> 
            <div class="row"> 
            </div>           
        </div>
        <div class="col"></div>        
    </div>        
</div>