<app-navbar></app-navbar>
<div class="container-fluid" style="background: #dadada8f; height:100%;">
    <div class="row">
        <div class="col-md sidebar">            
            <h5 class="sidenavs"><a routerLink="/">Home</a></h5>
            <h6 class="sidenavs"><a href="/profile">Profile</a></h6>
            <h6 class="sidenavs-active"><a routerLink="/communities">My Communities</a></h6>
            <h6 class="sidenavs"><a routerLink="/notifications">Notifications</a></h6>
            <h6 class="sidenavs"><a routerLink="/projects">Projects</a></h6>
        </div>
        <div class="col-md-9">
            <div class="row" style="margin-top: 21px;">
                <div class="col-md-9 communities">
                    <h4>My Communities<sup class="superscript">2</sup></h4>
                    <hr>
                    <ul class="container list">
                        <!-- loop user communities-->

                        <li><a href="/singlecommunity">
                            <div class="row unread" >
                                <div class="col-sm-1">
                                    <img src="/assets/angular kenya.jpg">
                                </div>
                                <div class="col">
                                    <h4>Angular Kenya</h4>
                                    <p><span class="username">Pew Pew:</span><span class="title"> Project1.9-7.14</span> Working on a loader for ngx-translate internationalization library that loads locally stored translations for NativeScript Angular.  In need of one angular dev.</p>
                                    <span class="time">3mins</span>
                                </div>
                            </div>                                                       
                            <hr>
                        </a></li>
                        <li>
                            <div class="row unread" >
                                <div class="col-sm-1">
                                    <img src="/assets/random1.jpg">
                                </div>
                                <div class="col">
                                    <h4>Devcom</h4>
                                    <p><span class="username">JonSkeet: </span><span class="title">Stack Overflow</span> Made a web application to help developers share their blockers, and fellow developers are able to assist with the blocker in real time.</p>
                                    <span class="time">58mins</span>
                                </div>
                            </div>                                                       
                            <hr>
                        </li>
                        <li>
                            <div class="row" >
                                <div class="col-sm-1">
                                    <img src="/assets/random5.jpg">
                                </div>
                                <div class="col">
                                    <h4>ColorfulWorld</h4>
                                    <p><span class="username">JonSkeet: </span><span class="title">Stack Overflow</span> Made a web application to help developers share their blockers, and fellow developers are able to assist with the blocker in real time.</p>
                                    <span class="time">2hrs</span>
                                </div>
                            </div>                                                       
                            <hr>
                        </li>
                        <li>
                            <div class="row" >
                                <div class="col-sm-1">
                                    <img src="/assets/random11.jpg">
                                </div>
                                <div class="col">
                                    <h4>code lovers</h4>
                                    <p><span class="username">JonSkeet: </span><span class="title">Stack Overflow</span> Made a web application to help developers share their blockers, and fellow developers are able to assist with the blocker in real time.</p>
                                    <span class="time">6hrs</span>
                                </div>
                            </div>                                                       
                            <hr>
                        </li>
                        <li>
                            <div class="row" >
                                <div class="col-sm-1">
                                    <img src="/assets/random8.jpg">
                                </div>
                                <div class="col">
                                    <h4>Timers</h4>
                                    <p><span class="username">JonSkeet: </span><span class="title">Stack Overflow</span> Made a web application to help developers share their blockers, and fellow developers are able to assist with the blocker in real time.</p>
                                    <span class="time">8hrs</span>
                                </div>
                            </div>                                                       
                            <hr>
                        </li>
                        
                        <!--- End loop-->
                    </ul>
                </div>                
                <div class="col-md" style="text-align: center;">
                    meme
                </div>
                <div class="col-md-1"></div>
            </div> 
            <div class="row"> 
            </div>           
        </div>
        <div class="col"></div>        
    </div>        
</div>