<div class="main">
    <div class="sidebar">
        <div class="search-bar">
            <input type="text" placeholder="search drumstick">
        </div>

        <br>

        <div class="guidelines">
            <div class="header">
                <h5>Community guidelines</h5>
            </div>

            <p>
                <b>Be polite</b>, friendly, welcoming, and generally a nice person.
            </p>
            <hr>
            <p>
                <b>Be respectful and constructive</b> with your communication to fellow members.
            </p>
            <hr>
            <p>
                <b>Be collaborative.</b> We can learn a lot from each other.
            </p>
        </div>


        <br>

        <div class="connect">
            <div class="header">
                <h5>Connect with us</h5>
            </div>

            <div class="links">
                <a href="#"> <img src="/assets/twitter.png" alt="" width="45%"></a>
                <a href="#"> <img src="/assets/github.png" alt=""> </a>
            </div>
        </div>


        <br>
        <div class="similar">
            <div class="header">
                <h5>Similar communities</h5>
            </div>

            <div class="community">
                <img src="/assets/profile.jpg" alt="avatar">
                <p>Andela Kenya</p>
            </div>
            <div class="community">
                <img src="/assets/profile.jpg" alt="avatar">
                <p>GDG Nairobi</p>
            </div>
        </div>
    </div>


    <div class="community-section">
        <div class="images">
            <img src="/assets/alc.jpeg" alt="">
            <div class="logo">
                <img src="/assets/angular kenya.jpg" alt="">
            </div>
        </div>

        <div class="details">
            <div class="about">
                <div class="textarea">
                    <h4>Angular Kenya</h4>
                    <p>We 'ng serve' the Kenyan tech community to become proficient Angular developers</p>
                </div>
                <div class="button">
                    <button><a href="#"> JOIN </a></button>
                </div>
            </div>
        </div>


        <hr>
        <div class="community-posts">
            <div class="post">
                <div class="header">
                    <img src="/assets/profile.jpg" alt="avatar">
                    <p>Pew Pew</p>
                </div>
                <div class="info">
                    <div class="title-section">
                        <div class="details">
                            <h5>Project1.9-7.14</h5>
                            <div>
                                <img src="/assets/github.png" alt='github'>
                            </div>
                        </div>
                        <div class="images">
                            <img src="/assets/open.png" alt="open source">
                            <img src="/assets/money.png" alt="paid">
                        </div>
                        <!-- <button>Interested</button> -->
                    </div>
                    <p>Working on a loader for ngx-translate internationalization library that loads locally stored translations for NativeScript Angular. In need of one angular dev.</p>
                </div>
                <div class="img">
                    <img src="/assets/screenshot.png" alt="screenshot">
                </div>
                <hr>
                <div class="footer">
                    <div class="comments">
                        <img src="/assets/comment.png" alt="">
                        <a href="#">comments</a>
                    </div>
                    <div class="share">
                        <img src="/assets/share.png" alt="">
                        <a href="#">share</a>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="community-posts">
            <div class="post">
                <div class="header">
                    <img src="/assets/profile.jpg" alt="avatar">
                    <p>John Skeet</p>
                </div>
                <div class="info">
                    <div class="title-section">
                        <div class="details">
                            <h5>Stack overflow</h5>
                            <div>
                                <img src="/assets/github.png" alt='github'>
                            </div>
                        </div>
                    </div>
                    <p>Made a web application to help developers share their blockers, and fellow developers are able to assist with the blocker in real time.</p>
                </div>
                <hr>
                <div class="footer">
                    <div class="comments">
                        <img src="/assets/comment.png" alt="">
                        <a href="#">comments</a>
                    </div>
                    <div class="share">
                        <img src="/assets/share.png" alt="">
                        <a href="#">share</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>