//Background
.background {
    background: #f0f0f08f;      
    height: 99.5%;     
    width: 100%;
  }

// side panel 
.sidepanel {    
    
    .fa-bars {
      position: relative;
      margin: 10px;
      padding: 10px;
      font-size: 25px;
      background: white; 
      border-radius: 30%;
      text-shadow: 2px 2px 3px #ff634733;
    }
    .sidebar {
      background: linear-gradient(#ffffff,#ffffffe7,#ffffffd7,#ffffff9a), url("/assets/sidepanel-background.jpg");
      background-size: cover;
      text-align: center;
      width: 230px;    
      position: fixed;    
      overflow-x: hidden;
      z-index: 1;      
      left: 0;
      transition: 0.5s;
      height: 99.5%;
    }

    //Logo area
    .print {    
      position: relative;
      margin-left: -2px;
      width: 20px;
      height: 40px;    
      left: -7px;
      background: url("https://media.istockphoto.com/vectors/tribal-pattern-vector-seamless-vector-id814505894");
      background-size: contain;  
      display: inline-block;  
    }
    .line1 {
        position: relative;
        border-left: 5px solid #FD7F20;
        height: 40px;            
        left: -5px;
        display: inline-block;  
    }
    .line2 {
        position: relative;
        border-left: 2px solid #000000;
        height: 40px; 
        left: -5px;           
        display: inline-block;  
    }

    //App-name
    .brand {
        font-family: "Ovo";
        color: #FD7F20;
        left: -20px;      
        margin-top: -2px;
        position: relative;      
        font-size: 25px;
        display: inline-block;  
    }

    .drop1 {
      position: absolute;
      top: 45px;    
      right: -3px;
      color: #08DD80;

      .fas {
        font-size: 25px;
        margin-left: 2px;
        padding: 5px;
      }
    }
    .dropm {      
      margin-top: -4px;    
      width: 30%;
      background: #dde2e7d7;
      border: none;
      text-align: center;

      a {
        padding: 5px;
        color: white; 
        font-weight: 500;   
      }
      a:hover {
        color: #FD7F20;    
      }
    }

    .closebtn {
      position: absolute;
      top: 0;
      right: 20px;
      font-size: 36px;
      margin-left: 50px;
      color: grey;
    }

    .prof-icon {
      height: 150px;
      width: 150px;
      margin-top: 50px;    
      padding: 10px;
      border-radius: 50%;    
    }

    .side-user {
      color: #FD7F20;    
    }
    
    .sidenavs {
        padding:10px 0;   
        margin-left: -15px; 
        margin-right: -15px;     
        margin-top: -5px;
        display: block;
        transition: 0.3s;
    }

    .addon {
      color: #ff634733;     
      font-size: 18px;      
    }
    
    .sidenavs-active {
        padding:20px 0;  
        margin-top: -5px; 
        margin-left: -15px; 
        margin-right: -15px; 
        background-color: tomato;    
    }
    
    .sidenavs-active a {
        color: white;
        font-weight: bold;
        
        .addon {
          color: #bebebe; 
          font-weight: bold;                  
        }
    }
    
    .sidenavs:hover,.sidenavs:active,.sidenavs:focus {
        background: #ff634733;    
    
        a {
            color: tomato;
        }

        .addon {
          color: white;           
        }
    }
    
    .sidenavs a {
        color: black;
        font-weight: normal;
    }
    
    .home {
        margin-top: 20%;
    }
  
  }

  
// communities list
.communities {    
    background: #e2e1e18f;
    height: fit-content;
    width: 100%;
    margin: 10px 20px;
    border-radius: 5px;
}

//communities list heading
.heading {
    text-align: center;
}

// communities number
.superscript {
    color: white;
    padding: 2px 5px;
    background:#08DD80;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 5px;    
}

// communities listing
.list {    
    max-height: 55vh;
    overflow-y: auto;
    list-style: none;    
    margin-top: 0;
    padding: 0 0 20px 0;
}
.li {
    width: 100%;
    margin-top: 0;    
}

.row {
    width: 100%;                        
}

//communities icon
.communities .comicon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display:  inline-block;
}

//community heading
.communities h6 {
    color: #FD7F20;
    font-size: 17px;
    margin: 3px 0 0 15px; 
}

//unread post heading
.communities .unread h6 {
    font-weight: bold;
}

//unread post text
.communities .unread p {
    color: black;
}

//post text
.communities p {
    margin: 1px 0 0 20px;
    width: 275px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    color: grey;
    text-overflow: ellipsis;
}

//post sender
.username {
    color:#FD7F20;
}

//post title
.title {
    font-weight: bold;
}

// time stamp
.time {
    margin: 1px 0 1px 95%;
    font-size: 10px;
    color:#FD7F20;
}


//communities guideines
.guidelines {
    background: #fffffff5;
    height: fit-content;
    width: 80%;
    margin: 10px 20px;
    border-radius: 5px;
    padding-bottom: 10px;

    h6 {
        text-align: center;
        padding: 10px;
    }

    .guide {
        color: gray;
        font-size: 13px;
        padding: 0;
    }
}

/**** Foreground ****/
.foreground {
    position: absolute;
    background: #fcfcfccb;
    height: 100%;
    width: 105%;
    opacity: 1;
    .heading{
        color: #08DD80;
        margin: 3% 0 10px 40px;
    }

    // communities slider    
    .slider-area {
        width: 98%;
        .top_slider {
          display: flex;
        }

        //slider items
        .top_slider .items {
          width: fit-content; 
          text-align: center; 
          display: inline-block; 
          padding:10px 5px;
        }

        //communities icons
        .top_slider .items img {
          width: 70px; 
          height: 70px; 
          border-radius: 50%;
          margin-top: -4px;
        }

        //communities title
        .top_slider .items p {  
          color: #615353;    
          font-size: 15px;
          width: 70px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
    } 

    //search bar
    .search-bar{
        background: white;
        width: 80%; 
        border: #d8d8d8 0.01em solid; 
        padding: 10px;
        .brd
        {
            border: 1px solid #e2eded;
            border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
        }
        
        #info
        {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            color: #2d3667;
            font-size: 16px;
            text-align: center;
            padding: 14px;
            background-color: #f3f9f9;
        }
        
        #app-cover
        {    
            top: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 35px;    
        }
        
        #select-button
        {       
            height: 16px;
            padding: 12px 14px;
            background-color: #fff;
            border: none;
            cursor: pointer;
        }
        
        #options-view-button
        {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            opacity: 0;
            cursor: pointer;
            z-index: 3;
        }
        
        #selected-value
        {
            font-size: 16px; 
            text-align: center;   
            color: gray;
        }
        
        .option i
        {
            width: 16px;
            height: 16px;
        }
        
        .option, .label
        {
            color: #2d3667;
            font-size: 16px;
        }
        
        #chevrons
        {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 12px;
            padding: 9px 14px;
        }
        
        #chevrons i
        {
            display: block;
            height: 50%;
            color: #d1dede;
            font-size: 12px;
            text-align: right;
        }
        
        #options-view-button:checked + #select-button #chevrons i
        {
            color: #2d3667;
        }
        
        .options
        {
            position: absolute;
            left: 0;
            width: 250px;
        }
        
        #options
        {
            position: absolute;
            top: 42px;
            right: 0;
            left: 0;
            width: 200px;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 4px;
        }
        
        #options-view-button:checked ~ #options
        {
            border: 1px solid #e2eded;
            border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
        }
        
        .option
        {
            position: relative;
            line-height: 1;
            transition: 0.3s ease all;
            z-index: 2;    
        }
        
        .option i
        {
            position: absolute;
            left: 14px;
            padding: 0;
            display: none;    
        }
        
        #options-view-button:checked ~ #options .option i
        {
            display: block;
            padding: 12px 0;
            
        }
        
        .label
        {
            display: none;
            padding: 0;
            margin-left: 27px;    
        }
        
        #options-view-button:checked ~ #options .label
        {
            display: block;
            padding: 12px 14px;    
        }
        
        .s-c
        {
            position: absolute;
            left: 0;
            width: 100%;
            height: 50%;
        }
        
        .s-c.top
        {
            top: 0;
        }
        
        .s-c.bottom
        {
            bottom: 0;
        }
        
        input[type="radio"]
        {
            position: absolute;
            right: 0;
            left: 0;
            width: 100%;
            height: 50%;
            margin: 0;
            opacity: 0;
            cursor: pointer;
        }
        
        .s-c:hover ~ i
        {
            color: #fff;
            opacity: 0;
        }
        
        .s-c:hover
        {
            height: 100%;
            z-index: 1;
        }
        
        .s-c.bottom:hover + i
        {
            bottom: 30px;
            animation: moveup 0.3s ease 0.1s forwards;
        }
        
        .s-c.top:hover ~ i
        {
            top: -25px;
            animation: movedown 0.3s ease 0.1s forwards;
        }
        
        @keyframes moveup
        {
            0%{ bottom: -25px; opacity: 0;}
            100%{ bottom: 0; opacity: 1;}
        }
        
        @keyframes movedown
        {
            0%{ top: -25px; opacity: 0;}
            100%{ top: 0; opacity: 1;}
        }
        
        .label
        {
            transition: 0.3s ease all;
        }
        
        .opt-val
        {
            position: absolute;
            left: 14px;
            width: 180px;
            height: 21px;
            opacity: 0;
            background-color: #ffffff;
            transform: scale(0);    
        }
        
        .option input[type="radio"]:checked ~ .opt-val
        {
            opacity: 1;
            transform: scale(1);
        }
        
        .option input[type="radio"]:checked ~ i
        {
            top: 0;
            bottom: auto;
            opacity: 1;
            animation: unset;
        }
        
        .option input[type="radio"]:checked ~ i, .option input[type="radio"]:checked ~ .label
        {
            color:rgb(8, 8, 8);
        }
        
        .option input[type="radio"]:checked ~ .label:before
        {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;    
        }
        
        #options-view-button:not(:checked) ~ #options .option input[type="radio"]:checked ~ .opt-val
        {
            top: -30px;
            width: 70%;
            text-align: center;
        }
        
        .option:nth-child(1) input[type="radio"]:checked ~ .label:before
        {
            background-color: #4B8BBE;
            border-radius: 4px 4px 0 0;
        }
        
        .option:nth-child(1) input[type="radio"]:checked ~ .opt-val
        {
            top: -31px;
            width: 70%;
            text-align: center;
        }
        
        .option:nth-child(2) input[type="radio"]:checked ~ .label:before
        {
            background-color: #f89820;
        }
        
        .option:nth-child(2) input[type="radio"]:checked ~ .opt-val
        {
            top: -71px;
            width: 70%;
            text-align: center;
        }
        
        .option:nth-child(3) input[type="radio"]:checked ~ .opt-val
        {
            top: -111px;
            width: 70%;
            text-align: center;
        }
        
        .option:nth-child(4) input[type="radio"]:checked ~ .label:before
        {
            background-color: #e34c26;
        }
        
        .option:nth-child(4) input[type="radio"]:checked ~ .opt-val
        {
            top: -151px;
            width: 70%;
            text-align: center;
        }
        
        .option:nth-child(5) input[type="radio"]:checked ~ .label:before
        {
            background-color: #f48024;
        }
        
        .option:nth-child(5) input[type="radio"]:checked ~ .opt-val
        {
            top: -191px;
            width: 70%;
            text-align: center;
        }
        
        .option:nth-child(6) input[type="radio"]:checked ~ .label:before
        {
            background-color: #42408f;            
        }
        
        .option:nth-child(6) input[type="radio"]:checked ~ .opt-val
        {
            top: -231px;
            width: 70%;
            text-align: center;
        }

        .option:nth-child(7) input[type="radio"]:checked ~ .label:before
        {
            background-color: #2a72ad;            
        }
        
        .option:nth-child(7) input[type="radio"]:checked ~ .opt-val
        {
            top: -271px;
            width: 70%;
            text-align: center;
        }

        .option:nth-child(8) input[type="radio"]:checked ~ .label:before
        {
            background-color: #8a118a;            
        }
        
        .option:nth-child(8) input[type="radio"]:checked ~ .opt-val
        {
            top: -311px;
            width: 70%;
            text-align: center;
        }

        .option:nth-child(9) input[type="radio"]:checked ~ .label:before
        {
            background-color: #787CB5;            
        }
        
        .option:nth-child(9) input[type="radio"]:checked ~ .opt-val
        {
            top: -351px;
            width: 70%;
            text-align: center;
        }
        
        .option:nth-child(10) input[type="radio"]:checked ~ .label:before
        {
            background-color: #26e4d4;            
        }
        
        .option:nth-child(10) input[type="radio"]:checked ~ .opt-val
        {
            top: -391px;
            width: 70%;
            text-align: center;
        }

        .option:nth-child(11) input[type="radio"]:checked ~ .label:before
        {
            background-color: #d62e10;
            border-radius: 0 0 4px 4px;
        }
        
        .option:nth-child(11) input[type="radio"]:checked ~ .opt-val
        {
            top: -431px;
            width: 70%;
            text-align: center;
        }

        .option .fa-python
        {
            color:#4B8BBE;
        }
        
        .option .fa-java
        {
            color:#f89820;
        }
        
        .option .fa-gem
        {
            color:#A91401;
        }
        
        .option .fa-html5
        {
            color: #e34c26;
        }
        
        .option .fa-js
        {
            color: #f0db4f;
        }
        
        .option .c
        {
            color: #42408f;
        }
        
        .option .cplusplus
        {
            color: #2a72ad;
        }
        
        .option .csharp
        {
            color: #8a118a;
        }
        
        .option .fa-php
        {
            color: #787CB5;
        }
        
        .option .fa-database
        {
            color: #26e4d4;
        }
        
        .option .fa-swift
        {
            color: #d62e10;
        }
        
        #option-bg
        {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 40px;
            transition: 0.3s ease all;
            z-index: 1;
            display: none;
        }
        
        #options-view-button:checked ~ #options #option-bg
        {
            display: block;
        }
        
        .option:hover .label
        {
            color: #fff;
        }
        
        .option:nth-child(1):hover ~ #option-bg
        {
            top: 0;
            background-color:#4B8BBE;
            border-radius: 4px 4px 0 0;
        }
        
        .option:nth-child(2):hover ~ #option-bg
        {
            top: 40px;
            background-color:#f89820;
        }
        
        .option:nth-child(3):hover ~ #option-bg
        {
            top: 80px;
            background-color: #A91401;
        }
        
        .option:nth-child(4):hover ~ #option-bg
        {
            top: 120px;
            background-color: #e34c26;
        }
        
        .option:nth-child(5):hover ~ #option-bg
        {
            top: 160px;
            background-color: #f0db4f;
        }
        
        .option:nth-child(6):hover ~ #option-bg
        {
            top: 200px;
            background-color: #42408f;            
        }
        
        .option:nth-child(7):hover ~ #option-bg
        {
            top: 240px;
            background-color: #2a72ad;           
        }
        
        .option:nth-child(8):hover ~ #option-bg
        {
            top: 280px;
            background-color: #8a118a;            
        }
        
        .option:nth-child(9):hover ~ #option-bg
        {
            top: 320px;
            background-color: #787CB5;            
        }
        
        .option:nth-child(10):hover ~ #option-bg
        {
            top: 360px;
            background-color: #26e4d4;            
        }
        
        .option:nth-child(11):hover ~ #option-bg
        {
            top: 400px;
            background-color: #d62e10;
            border-radius: 0 0 4px 4px;
        }
        
    }
}

/**** Mock Background ****/
.mock-background {
    overflow: hidden;
    width: 115%; 
    height: 97vh;  
    overflow-y: hidden;
    //make post card
    .C1 {
        border: solid #e0e0e0d7 0.01em;
        margin-top: 2%;
        background: #ffffff;
        border-radius: 3px;
        width: 20px;
    }
    .mp {
      height: 50px;
      width: 70%;
      background: #ffffff;  

        //User profile photo
        .mock-icon {
          width: 37px;
          height: 37px;
          background: #00000059;
          border-radius: 50%;  
          margin-top: 2%;
          margin-left: 20px;
          display: inline-block;      
        }

        // make post input field
        .text {
          display: inline-block;
          margin-left: 25px;  
          height: 27px;        
          background: #bebebe52;
          width: 220px;
        }    

        //media icon
        .fas {
          display: inline-block;        
          margin-top: 10px;
          margin-left: 20px;
          background: #4b474754;
          height: 20px;
          width: 20px;
        }

    }

    //post card
    .post {  
      width: 90%;
      height: fit-content;  
    
      //user info section 
      .user {    
        background: #eeeded8a;    
        height: 35px;
    
    
        //User profile photo
        .mock-icon {
          width: 30px;
          height: 30px;
          background: #9c9c9c48;
          border-radius: 50%;  
          margin-top: 2px;      
          display: inline-block;      
        }

        .mock-username {      
          background-color:#97979756;   
          display: inline-block;
          margin-left: 10px;
          width: 100px;
          height: 20px;
        }
    
        .mock-community {      
          background-color:#a1a1a159;           
          display: inline-block;
          height: 13px;
          margin-left:10px;
          width: 60px;
        }
    
        .fas {
          display: inline-block;    
          margin-top: 15px;      
          margin-left: 30px;
          background-color: #a8a5a556;  
          height: 10px;
          width: 20px;
        }
      }
    }

    //post title 
    .mock-title {
      margin-top: 5px;
      background-color: #80808057;
      height: 25px;
      width: 180px;
      padding: 0 5px;
    }

    .mock-text1 {
      background-color: #80808057;
      padding: 0 15px;
      margin-top: 4px;
      height: 13px;
      width: 90%;
    }

    .mock-text2 {
        background-color: #80808054;
        padding: 0 15px;
        margin: 4px 25px;
        height: 13px;
        width: 60%;
    }

    //post image
    .mock-image-post {
      width: 105.6%;
      margin-left: -15px;  
      height: 45vh;  
      background: #00000054;
    }

    //post info
    .info {
      .mock-stars {
        height: 13px;
        display: inline-block;   
        background: #80808057;   
        width: 80px;
        margin: 3px 3px 2px 0;    
      }  
    }

    //post interact
    .interact {

      .col {    
        .far {
          height: 20px;
          width: 20px;
          background: #a8a8a854;      
          display: inline-block;
        }

        .h6 {
          display: inline-block;
          width: 80px;      
          height: 15px;
          margin-left: 5px;      
          background: #a8a8a854;
        }    
      }

    }

}

.search {
    border: none;    
    background: #dc3b3b;
    padding-top: 5px; 
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 30px;
      
}
.fa-search {
    color: grey;
    margin-left: -25px;
}

.com-list {
    list-style: none;
    margin-top: 15px;        
    max-height: 450px;
    overflow-y: auto;
    width: 120%;   

    li {
        display: inline-block;
        padding: 3px 7px;        
    }

    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    p {
        color: black;
        text-align: center;
    }

    .noma .tooltip {
        visibility: hidden;
        width: 300px;
        background: rgb(247, 221, 197);
        text-align: center;
        border-radius: 5px;
        padding: 5px 3px;        

        position: absolute;
        z-index: 1;
    }

    .noma:hover .tooltip {
        visibility: visible;
    }
}

.dropbutton {
    background: none;
    border: none;
}

*
{
    user-select: none;
}

*:focus
{
    outline: none;
}

html, body
{
    height: 100%;
    min-height: 100%;
}

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 100px;
    margin: 0;
    background-color: #ebf3f3;
}
























































































































































































































































































































































































































