.sidebar {
    background: white;
    text-align: center;
    width: 400px;    
}

.sidenavs {
    padding:20px 0;   
    margin-left: -15px; 
    margin-right: -15px;     
    margin-top: -5px;
}

.sidenavs-active {
    padding:20px 0;  
    margin-top: -5px; 
    margin-left: -15px; 
    margin-right: -15px; 
    background-color: #ff6347;    
}

.sidenavs-active a {
    color: white;
    font-weight: bold;
}

.sidenavs:hover,.sidenavs:active,.sidenavs:focus {
    background: #ff634733;    

    a {
        color: tomato;
    }
}

.sidenavs a {
    color: black;
}

.sidebar h5 {
    margin-top: 65%;
}

.communities {
    margin:0 45px;
    padding: 10px;
}

.communities h4 {
    color: #FD7F20;        
    margin-left: 20px;
    margin-top: 10px;
}

.communities .unread h4 {
    font-weight: bolder;   
}

.communities .list {
    max-height: 75vh;
    overflow-y: scroll;
    list-style: none;
}

.communities img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display:  inline-block;
}
.communities .row {
    width: 100%;
}


.communities p {
    margin-left: 20px;
    width: 790px;
    white-space: nowrap;
    overflow: hidden;
    color: grey;
    text-overflow: ellipsis;
}

.communities .unread p {
    color: black;
}

.username {
    color:#FD7F20;
}

.title {
    font-weight: bold;
}

.time {
    margin-left: 95%;
    color:#FD7F20;
}

.superscript {
    color: white;
    padding: 2px 5px;
    background:#08DD80;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 5px;    
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }