<!DOCTYPE html>    
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ovo">
        <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
        <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
        <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">
    </head>
    <body>
        <router-outlet></router-outlet>
    </body>
</html>
    
    
    
