<div class="row" style="width: 100%;">
    <div class="col-md-7" style="background: orange">        
    </div>
    <div class="col">
        <div class="row" style="height: 10vh;"></div>        
        <div class="form">
            <a class="brand" routerLink="">Drumstick</a>            
            <form class="register-form">
                <input type="text" placeholder="name">
                <input type="text" placeholder="email">
                <input type="password" placeholder="password">
                <button><a href="/profile">register</a></button>
                <p class="message">ALready registered?<a href="/login">Log in</a></p>
            </form>
            
            <p>or</p>            
            <ul>
                <a href="https://www.google.com/">
                    <div class="card" style="outline: solid #3da1e4 0.1em; ">
                        <div class="row">
                            <div class="col"></div>
                            <div class="col-1">
                                <img class="google-icon" src="/assets/google.png">
                            </div>
                            <div class="col-md-7">
                                <h6 class="option">Sign up with Google</h6>
                            </div>
                            <div class="col"></div>
                        </div>                        
                    </div>
                </a>

                <a href="https://www.github.com/">
                    <div class="card" style=" background: rgb(34, 33, 33);">
                        <div class="row">
                            <div class="col"></div>
                            <div class="col-1">
                                <img class="git-icon" src="/assets/github2.png">
                            </div>
                            <div class="col-md-7">
                                <h6 class="option" style="color: white;">Sign up with Github</h6>
                            </div>
                            <div class="col"></div>
                        </div>                        
                    </div>
                </a>
            </ul>     
        </div>       
        
    </div>
</div>
