<div class="row" style="width: 100%;">
    <div class="col-md-7" style="background: orange">        
    </div>
    <div class="col">
        <div class="row" style="height: 10vh;"></div>        
        <div class="form">
            <a class="brand" routerLink="">Drumstick</a>            
            <form class="register-form">
                <input type="text" placeholder="name">
                <input type="text" placeholder="email">
                <input type="password" placeholder="password">
                <button> register </button>
                <p class="message">ALready registered?<a href="login">Log in</a></p>
            </form>
            
            <p>or</p>            
            <ul>
                <a href="https://www.google.com/">
                    <div class="card" style="outline: solid #3da1e4 0.1em; ">
                        <div class="row">
                            <div class="col"></div>
                            <div class="col-1">
                                <img class="icon" src="https://png2.cleanpng.com/dy/27d26b88d8513c49142fa3d906163138/L0KzQYm3VcAyN5tpiZH0aYP2gLBuTfdwd5hxfZ91b3fyPbj2jBdtbV5th99uLXHvgLnogvV1NZpze58AYXW6doK4WcIybZU4SZCBN0e7QYa6UME2OmY2TKsEN0e0Q4q1kP5o/kisspng-google-logo-google-home-alphabet-inc-5ae7f11921ed31.677815301525149977139.png">
                            </div>
                            <div class="col-md-7">
                                <h6 class="option">Sign up with Google</h6>
                            </div>
                            <div class="col"></div>
                        </div>                        
                    </div>
                </a>

                <a href="https://www.github.com/">
                    <div class="card" style=" background: rgb(34, 33, 33);">
                        <div class="row">
                            <div class="col"></div>
                            <div class="col-1">
                                <img class="icon" src="https://png2.cleanpng.com/dy/04dbbc4c79ef867963784d36434f81ee/L0KzQYm3WMI1N5D6fZH0aYP2gLBuTfNwdaF6jNd7LXnmf7B6Tfxwb5CyiNH7dHHlfLa0jvV1f5D3g59wcnHzeLrqk71kdJp1Rdtsb372Pbf2kr1nepZqRdtsb379cX7qigJkdJYyi9HsaXHvPYbpVBZmPGdnTNdsOEG6PoO3WMAyPGM7Sac8NUGzSIO3U8MzOmgziNDw/kisspng-computer-icons-logo-portable-network-graphics-clip-icons-for-free-iconza-circle-social-5b7fe46b4ec817.2080142615351082033227.png">
                            </div>
                            <div class="col-md-7">
                                <h6 class="option" style="color: white;">Sign up with Github</h6>
                            </div>
                            <div class="col"></div>
                        </div>                        
                    </div>
                </a>
            </ul>     
        </div>       
        
    </div>
</div>
