.sidebar {
    background: white;
    text-align: center;
    width: 400px;    
}

.prof-icon {
    height: 150px;
    width: 150px;
    margin-top: 50px;    
    padding: 10px;
    border-radius: 50%;    
}

.side-user {
    color: #FD7F20;    
}

.sidenavs {
    padding:20px 0;   
    margin-left: -15px; 
    margin-right: -15px;     
    margin-top: -5px;
}

.sidenavs-active {
    padding:20px 0;  
    margin-top: -5px; 
    margin-left: -15px; 
    margin-right: -15px; 
    background-color: tomato;    
}

.sidenavs-active a {
    color: white;
    font-weight: bold;
}

.sidenavs:hover,.sidenavs:active,.sidenavs:focus {
    background: #ff634733;    

    a {
        color: tomato;
    }
}

.sidenavs a {
    color: black;
}

.sidebar h5 {
    margin-top: 25%;
}


.profile {    
    background: #ffffff;
}

.background {
    margin-left:-15px;    
    width: 103%;
    height: 90px;
    object-fit: cover;   
}

.prof-pic {
    height: 230px;
    width: 230px;           
    margin-top: -55px;    
    margin-left: 15%;
    border-radius: 50%;
    border: solid white .3em;       
}

.user {
    font-weight: bold;
    color:#FD7F20;
    padding-top: 10px;
}

.profession {        
    color: #08DD80;
    margin-left: 20px;
    font-weight: bold;
}

.bio {
    color: gray;
}

.email {
    color: gray;
    margin-left: 25px;
}


.mowiki {
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

.communities {
    width: fit-content;
    background:#FD7F20;
    padding:10px 20px;        
    margin: 10px 20px;
    color: white;
}

.projects {
    width: fit-content;
    background:#08DD80;
    padding:10px 40px;        
    margin: 10px 20px;
    color: white;
}

.number {
    background: white;
    color: gray;    
}

.mowiki-icon {
    border-radius: 50%;
}

.keyword {
    color: #FD7F20;
}

.review {
    border: solid grey 0.01em;
    background: white;
    width: 400px; 
    height: fit-content;   
    padding: 10px;
}

.review-slot {
    margin: 0 10px;
}

.review-heading {
    margin-top: 5px; 
    margin-left: 80px; 
    padding: 20px; 
    display: inline-block; 
    color: #08DD80;
}
.review img {
    height: 35px;
    width: 35px;
    border-radius: 50%;    
}
.review h6 {
    margin-left: 10px;
    margin-top: 11px;
    color: #08DD80;
    font-weight: bold;
}

.review p {
    color: gray;
    margin-top: 10px;
    text-align: center;
}

.socials {
    list-style: none;
    margin-left: -50px;
    margin-top: 20px;
}

.socials li {
    display: inline-block;
    margin: 0 10px;
}

.twitter {
    height: 30px;
    width: 30px;
}

.github {
    width: 30px;
}