<!--Navbar-->
<app-navbar></app-navbar>

<div class="container-fluid background">            
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <h4 class="heading">Post something...</h4>
            <div class="row" style="margin-top: 25px;">
                <!--Left side-->
                <div class="col" style="background: red;">
                </div>

                <!--right side-->
                <div class="col-8">
                    <div class="container-fluid upload">
                        <div class="row">
                            <div class="col navigation">
                                <p class="post"><i class="fas fa-clone"></i>  Post</p>
                                <p class="project"><i class="fas fa-project-diagram"></i>  Project</p>
                                <p class="media1"><i class="fas fa-photo-video"></i> Media</p>
                                <p class="poll"><i class="fas fa-poll-h"></i>  Poll</p>
                            </div>
                            <div class="col-9">

                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
