//Background
.background {
    background: #f0f0f08f;  
    height: 100%;
    max-height: 93.9vh;     
}

.heading {
    margin-top: 10%;    
}

.upload {
    height: 400px;
    background-color: white;
    border-radius: 5px;    
}

//navigation 
.navigation {    
    height:fit-content;
    margin: 15% 0;
    background: white;
    
    p {
        text-align: center;            
        font-weight: bold;
    }

    .post {
       margin-top: 20px; 
       padding: 10px;
       width: 119%;
       margin-left: -15px;
       border-top: solid #cfcfcf 0.01em;
       border-right: solid #cfcfcf 0.01em;
       border-bottom: solid #cfcfcf 0.01em;
    }

    .project {
        margin-top: -16px;         
        padding: 10px;
        width: 119%;
        margin-left: -15px;
        border-bottom: solid #cfcfcf 0.01em;
        border-right: solid #cfcfcf 0.01em;
    }

    .media1 {
        margin-top: -16px;         
        padding: 10px;
        width: 119%;
        margin-left: -15px;
        border-bottom: solid #cfcfcf 0.01em;
        border-right: solid #cfcfcf 0.01em;
    }
    .poll {
        margin-top: -16px;         
        padding: 10px;
        width: 119%;
        margin-left: -15px;
        border-bottom: solid #cfcfcf 0.01em;
        border-right: solid #cfcfcf 0.01em;
    }

    .fa-clone {
        margin-left: -15px;
        margin-right: 5px;
    }
    
    .fa-project-diagram {
        margin-right: 5px;
    }

    .fa-photo-video {
        margin-right: 5px;
        margin-left: -10px;
    }

    .fa-poll-h {
        margin-right: 5px;
        margin-left: -25px;
    }
}

//submit area 
.submit-area {
    width: 100%;
    margin-top: 10px;

}

//community select field
.community-select {
    width: 50%;
    margin-top: 10px;
}

//title input field

#the-title {
    border-right: none;
    margin-top: 15px;
}

#the-count {    
    float: right;
    padding: 0 0.3em 0 0.1em ;
    font-size: 0.675rem;
    background: white;   
    border-left: none;
    margin-top: 15px;

}

.textfield {
    margin-top: 15px;    
    width: 100%;
    border: solid #d3d3d3 0.01em;
    padding: 5px 0 5px 5px;
}

.btn {
    margin-left: 40%;
    background-color: orange;
    color: white;
    padding: 5px 25px;
}