//Background
.background {
  background: #f0f0f08f;  
  height: fit-content;
  max-height: 93.9vh; 
  overflow-y: scroll;
}

//Base container
.C1 {
  border: solid #e0e0e0 0.01em;
  margin-top: 2%;
  background: white;
  border-radius: 3px;
}

//Communities slider container
.com {
  height: 100px;
  padding: 0 10px;
}

//slider styling
.top_slider {
  display: flex;
}

//slider items
.top_slider .items {
  width: fit-content; 
  text-align: center; 
  display: inline-block; 
  padding:10px 5px;
}

//communities icons
.top_slider .items img {
  width: 70px; 
  height: 70px; 
  border-radius: 50%;
  margin-top: -4px;
}

//communities title
.top_slider .items p {  
  color: #615353;    
  font-size: 15px;
  width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
}



//Make post card
.mp {
  height: 50px;
  width: 60%;
  background: #ffffff;  

    img {
      width: 37px;
      height: 37px;
      border-radius: 50%;  
      margin-top: 2%;
      margin-left: 20px;
      display: inline-block;
    }

    input {
      display: inline-block;
      margin-left: 25px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom:solid #cfcfcf 0.05em;
      background: transparent;
    }    

    .fa-photo-video {
      display: inline-block;        
      margin-top: 10px;
      margin-left: 20px;
    }

    .fa-link {
      display: inline-block;        
      margin-top: 10px;
      margin-left: 15px;
      color: solid grey 0.05em;
    }
    
}

//post card
.post {
  min-height: 200px;
  height: fit-content;  
}






/*.top-com {
    border: solid gray 0.02em;
    margin-top: 10px; 
    height: 18vh;
    width: 800px;
    background: rgb(255, 255, 255);
}
.top-com-heading {
  margin-left: 40px;
  margin-top: 20px;
  padding:5px;
  font-weight: bold;
}

  
  label {
    margin-left: 10px;
  }
  
  .hide {
    display: none;
  }
  .post_head {
    padding-left: 25px;
    padding-top: 15px;
    color: #FD7F20;
    font-weight: bold;
  }
  .github_icon {
    height: 37px; 
    width: 37px; 
    margin-top: 10px;        
    display: inline-block;
    text-align: right;
  }

  #fullpost {
    outline: solid 0.02em #acacac;
    display: none;                        
    margin-top: 20px;
  }

  .deployed_icon {
    height: 28px; 
    width: 28px;     
    border-radius: 50%;
    display: inline-block;
    text-align: right;
  }
  .post_description {
    padding: 10px 40px;
    text-align: center;
    margin-top: -15px;
  }
  .digits {
    color: #FD7F20;
    font-size: 15px;
  }
  .likes {
    height: 40px;
    width: 40px;
    display: inline-block;
  }
  .comments {
    height: 40px;
    width: 40px;
    display: inline-block;
  }
  .share {
    height: 40px;
    width: 40px;
    display: inline-block;
  }
  .post_info {    
    margin-left: 75%;
  }
  .post_community {
    display: inline-block;
    color: #08DD80;      
    font-size: 15px;
  }
  .bullet {
    color: gray;
    display: inline-block;
  }
  .time_stamp {
    display: inline-block;
    color: #FD7F20; 
    font-size: 15px;   
  }  
    .circle {
    height: 27px;
    width: 27px;   
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }*/