.top-com {
    border: solid gray 0.02em;
    margin-top: 10px; 
    height: 20vh;
    width: 90%;
    background: rgb(255, 255, 255);
}
.top-com-heading {
  margin-left: 40px;
  margin-top: 20px;
  padding:5px;
  font-weight: bold;
}

#outer {    
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;    
}
  
  #left-button {
    float: left;
    width: 30px;
    text-align: center;
  }
  
  #right-button {
    float: left;
    width: 30px;
    text-align: center;
  }
    
  
  #inner:first-child {
    margin-left: 0;
  }
  
  label {
    margin-left: 10px;
  }
  
  .hide {
    display: none;
  }
  .post_head {
    padding-left: 25px;
    padding-top: 15px;
    color: #FD7F20;
    font-weight: bold;
  }
  .github_icon {
    height: 37px; 
    width: 37px; 
    margin-top: 10px;        
    display: inline-block;
    text-align: right;
  }

  .deployed_icon {
    height: 28px; 
    width: 28px;     
    border-radius: 50%;
    display: inline-block;
    text-align: right;
  }
  .post_description {
    padding: 10px 40px;
    text-align: center;
    margin-top: -15px;
  }
  .digits {
    color: #FD7F20;
    font-size: 15px;
  }
  .likes {
    height: 40px;
    width: 40px;
    display: inline-block;
  }
  .comments {
    height: 40px;
    width: 40px;
    display: inline-block;
  }
  .share {
    height: 40px;
    width: 40px;
    display: inline-block;
  }
  .post_info {    
    margin-left: 75%;
  }
  .post_community {
    display: inline-block;
    color: #08DD80;      
    font-size: 15px;
  }
  .bullet {
    color: gray;
    display: inline-block;
  }
  .time_stamp {
    display: inline-block;
    color: #FD7F20; 
    font-size: 15px;   
  }