
<!--Navbar-->
<app-navbar></app-navbar>

<div class="container-fluid background">            
    <div class="row">
        <div class="col">
            <div class="row">
                <!-- sidepanel-->
                <div class="col sidepanel">

                    <div id="mySidepanel" class="sidebar">  
                        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>          
                        <h5 class="sidenavs-active"><a routerLink="/">Home</a></h5>
                        <h6 class="sidenavs"><a routerLink="/profile">Profile</a></h6>
                        <h6 class="sidenavs"><a routerLink="/communities">Communities</a></h6>
                        <h6 class="sidenavs"><a routerLink="/notifications">Notifications</a></h6>
                        <h6 class="sidenavs"><a routerLink="/projects">Projects</a></h6>
                    </div>

                    <i (click)="openNav()" class="fas fa-bars openbtn"></i>                    
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="col-md-8" style="height: fit-content;">
            <div class="row">

                <!--Left side-->
                <div class="col">
                    <div class="container trend">

                        <h4 class="heading"><span class="tag">#</span>  Trends</h4>
                        <hr style="width: 108%; margin-left: -15px;">
                        <!--Trending-->
                        <div class="container trending">
                            <p class="info">Trending in <span>mobile development</span></p>
                            <div class="row">
                                <div class="col-1">
                                    <img src="/assets/random3.jpg">
                                </div>
                                <div class="col-8">                                    
                                    <p class="community"> MobileDev</p>
                                    <p class="info">654 posts</p>
                                </div>
                                <div class="col">
                                    <p class="join"> join</p>
                                </div>                                    
                            </div>
                            <hr style="margin-top: -10px;">
                        </div>

                        <div class="container trending">
                            <p class="info">Trending in <span>python</span></p>
                            <div class="row">
                                <div class="col-1">
                                    <img src="/assets/random8.jpg">
                                </div>
                                <div class="col-8">                                    
                                    <p class="community"> PythonLovers</p>
                                    <p class="info">24.5K posts</p>
                                </div>
                                <div class="col">
                                    <p class="join"> join</p>
                                </div>                                    
                            </div>
                            <hr style="margin-top: -10px;">
                        </div>

                        <div class="container trending">
                            <p class="info">Trending in <span>front end</span></p>
                            <div class="row">
                                <div class="col-1">
                                    <img src="/assets/random11.jpg">
                                </div>
                                <div class="col-8">                                    
                                    <p class="community"> FigmaGurus</p>
                                    <p class="info">1.3K posts</p>
                                </div>
                                <div class="col">
                                    <p class="join"> join</p>
                                </div>                                    
                            </div>
                            <hr style="margin-top: -10px;">
                        </div>

                    </div>                    
                </div>

                <!--Right side-->
                <div class="col-md-7" style="height: fit-content;">
                    
                    <!-- Communites slider-->
                    <div class="container-fluid C1 com">
                        <ngx-slick-carousel class="carousel top_slider" 
                                #slickModal="slick-carousel" 
                                [config]="slide1Config">
                            <a ngxSlickItem class="slide items" href="/communities">                                
                                    <img src="/assets/angular kenya.jpg"> 
                                    <p>AngularKenya</p>                                                                                                                  
                            </a>
                            <a ngxSlickItem  class="slide items" routerLink="/communities">                                                         
                                <img src="/assets/random2.jpg"> 
                                <p>UbuntuLovers</p>                           
                            </a>                                                    
                            <a ngxSlickItem  class="slide items" routerLink="/communities">                                                         
                                    <img src="/assets/random3.jpg"> 
                                    <p>PythonCrave</p>                           
                            </a>                                                   
                            <a ngxSlickItem  class="slide items" routerLink="/communities">                                                      
                                <img src="/assets/random4.jpg"> 
                                <p>Devhub</p>                           
                            </a>                                                    
                            <a ngxSlickItem  class="slide items" routerLink="/communities">                               
                                <img src="/assets/random5.jpg"> 
                                <p>ColorfulWorld</p>                           
                            </a>                                                    
                            <a ngxSlickItem  class="slide items" routerLink="/communities">                                                       
                                <img src="/assets/random6.jpg"> 
                                <p>MobileDev</p>                           
                            </a>                                                    
                            <a ngxSlickItem  class="slide items" routerLink="/communities">                                                        
                                <img src="/assets/random7.jpg"> 
                                <p>Lights</p>                          
                            </a>                                                    
                            <a ngxSlickItem  class="slide items" routerLink="/communities"> 
                                <img src="/assets/random8.jpg"> 
                                <p>Lights</p>                           
                            </a>                                                    
                            <a ngxSlickItem  class="slide items" routerLink="/communities">                                                        
                                <img src="/assets/random9.jpg"> 
                                <p>Lights</p>                           
                            </a>                                                    
                            <a ngxSlickItem  class="slide items" routerLink="/communities">  
                                <img src="/assets/random10.jpg"> 
                                <p>Lights</p>                          
                            </a>                                                    
                        </ngx-slick-carousel>
                    </div>

                    <!-- Make post card-->
                    <div class="container C1 mp">
                        <a href="/submit">
                            <img src="/assets/random10.jpg">                        
                            <input type="text" class="form-control text" placeholder="Post something...">
                            <i class="fas fa-photo-video"></i>
                            <i class="fas fa-link"></i>                        
                        </a>
                    </div>

                    <!-- Post card-->
                    <div class="container C1 post">
                        <!-- User info-->
                        <div class="container user">
                            <div class="row">
                                <div class="col-11">
                                    <a href="/profile"><img src="/assets/random10.jpg">
                                    <p class="username">Messaps <span> &#8226; </span></p></a>
                                    <a href="/singlecommunity"><p class="community"> MobileDev</p></a>
                                </div>
                                <div class="col">
                                    <i class="fas fa-ellipsis-h"></i>
                                </div>
                            </div>
                        </div>
                        <!--post title-->
                        <h5 class="title">Mobile development</h5>
                        <p class="text">I'm a mobile development enthusiast, I love them clean, crisp and colorful.Some friends call it an obsession, but it's just in me.</p>
                        <img class="image-post" src="/assets/random6.jpg">                                                
                        <div class="container info">
                            <p><span>300 </span>stars </p>
                            <p><span class="bullet"> &#8226; </span><span>999+ </span>comments</p>
                        </div>
                        <hr style="margin-top: -10px;">
                        <!---->
                        <div class="row interact">
                            <div class="col">
                                <i class="far fa-star"></i>
                                <h6>star </h6>                                
                            </div>                            
                            <div class="col">
                                <i class="far fa-comment"></i>
                                <h6>comment </h6>                                
                            </div>
                            <div class="col">
                                <i class="far fa-share-square"></i>
                                <h6>share </h6>
                            </div>                        
                        </div>
                    </div>

                    <div class="container C1 post">
                        <!-- User info-->
                        <div class="container user">
                            <div class="row">
                                <div class="col-11">
                                    <a href="/profile"><img src="/assets/random3.jpg">
                                    <p class="username">Fenty <span> &#8226; </span></p></a>
                                    <a href="/singlecommunity"><p class="community"> AngularKenya</p></a>
                                </div>
                                <div class="col">
                                    <i class="fas fa-ellipsis-h"></i>
                                </div>
                            </div>
                        </div>
                        <!--post title-->
                        <h5 class="title">My love for code</h5>                        
                        <img class="image-post" src="/assets/random11.jpg">                                                
                        <div class="container info">
                            <p><span>16 </span>stars </p>
                            <p><span class="bullet"> &#8226; </span><span>3 </span>comments</p>
                        </div>
                        <hr style="margin-top: -10px;">
                        <!---->
                        <div class="row interact">
                            <div class="col">
                                <i class="far fa-star"></i>
                                <h6>star </h6>                                
                            </div>                            
                            <div class="col">
                                <i class="far fa-comment"></i>
                                <h6>comment </h6>                                
                            </div>
                            <div class="col">
                                <i class="far fa-share-square"></i>
                                <h6>share </h6>
                            </div>                        
                        </div>
                    </div>

                    <div class="container C1 post">
                        <!-- User info-->
                        <div class="container user">
                            <div class="row">
                                <div class="col-11">
                                    <a href="/profile"><img src="/assets/random3.jpg">
                                    <p class="username">Jon Skeet <span> &#8226; </span></p></a>
                                    <a href="/singlecommunity"><p class="community"> AngularKenya</p></a>
                                </div>
                                <div class="col">
                                    <i class="fas fa-ellipsis-h"></i>
                                </div>
                            </div>
                        </div>
                        <!--post title-->
                        <h5 class="title">Stackoverflow Guru!</h5>                        
                        <p class="text">I believe I hold the record for the most answered questions on stackoverflow. I enjoy helping guys out, all I want is to make a difference.</p>
                        <img class="image-post" src="/assets/stackoverflow.png">                                                
                        <div class="container info">
                            <p><span>45 </span>stars </p>                            
                        </div>
                        <hr style="margin-top: -10px;">
                        <!---->
                        <div class="row interact">
                            <div class="col">
                                <i class="far fa-star"></i>
                                <h6>star </h6>                                
                            </div>                            
                            <div class="col">
                                <i class="far fa-comment"></i>
                                <h6>comment </h6>                                
                            </div>
                            <div class="col">
                                <i class="far fa-share-square"></i>
                                <h6>share </h6>
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="col"></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>