<app-navbar></app-navbar>
<div class="container-fluid" style="background: #f0f0f08f; height:100%;">
    <div class="row">
        <div class="col-md sidebar">
            <img class="prof-icon" src="/assets/random10.jpg">     
            <h5 class="side-user"> Username</h5>     
            <h6 class="sidenavs"><a routerLink="/"> <span class="addon"><</span><span class="addon">/</span>Home<span class="addon">></span>  </a></h6>
            <p class="sidenavs"><a routerLink="/profile"> <span class="addon"><</span><span class="addon">/</span>Profile<span class="addon">></span> </a></p>
            <p class="sidenavs"><a routerLink="/communities"> <span class="addon"><</span><span class="addon">/</span>Communities<span class="addon">></span> </a></p>
            <p class="sidenavs-active"><a routerLink="/notifications"> <span class="addon"><</span><span class="addon">/</span>Notifications<span class="addon">></span> </a></p>
            <p class="sidenavs"><a routerLink="/projects"> <span class="addon"><</span><span class="addon">/</span>Projects<span class="addon">></span> </a></p>
        </div>
        <div class="col-md-9">
            <div class="row" style="margin-top: 21px;">
                <div class="col-md-9 notifications">
                    <h4 class="heading">Notifications<sup class="superscript">2</sup></h4>
                    <hr>                    
                    <ul class="container list unread">
                        <!-- loop notifications-->
                        <li><a href="/singlecommunity">                                                            
                                <img src="/assets/kayla_news.jpg">                                
                                <p><span class="username">Kayla </span> Mentioned you in a post, <span class="community"> Devcom</span></p>
                                <h6 class="time">3mins</h6>                                                            
                            <hr>
                        </a></li>

                        <li><a href="/singlecommunity">                                                            
                            <img src="/assets/kayla_news.jpg">                                
                            <p><span class="username">Kayla </span> Mentioned you in a post, <span class="community"> Devcom</span></p>
                            <h6 class="time">3mins</h6>                                                            
                        <hr>
                        </a></li>

                        <li><a href="/singlecommunity">                                                            
                            <img src="/assets/kayla_news.jpg">                                
                            <p><span class="username">Kayla </span> Mentioned you in a post, <span class="community"> Devcom</span></p>
                            <h6 class="time">3mins</h6>                                                            
                        <hr>
                        </a></li>

                        <li><a href="/singlecommunity">                                                            
                            <img src="/assets/kayla_news.jpg">                                
                            <p><span class="username">Kayla </span> Mentioned you in a post, <span class="community"> Devcom</span></p>
                            <h6 class="time">3mins</h6>                                                            
                        <hr>
                        </a></li>

                        <li><a href="/singlecommunity">                                                            
                            <img src="/assets/kayla_news.jpg">                                
                            <p><span class="username">Kayla </span> Mentioned you in a post, <span class="community"> Devcom</span></p>
                            <h6 class="time">3mins</h6>                                                            
                        <hr>
                        </a></li>

                        <li><a href="/singlecommunity">                                                            
                            <img src="/assets/kayla_news.jpg">                                
                            <p><span class="username">Kayla </span> Mentioned you in a post, <span class="community"> Devcom</span></p>
                            <h6 class="time">3mins</h6>                                                            
                        <hr>
                        </a></li>

                        <li><a href="/singlecommunity">                                                            
                            <img src="/assets/kayla_news.jpg">                                
                            <p><span class="username">Kayla </span> Mentioned you in a post, <span class="community"> Devcom</span></p>
                            <h6 class="time">3mins</h6>                                                            
                        <hr>
                        </a></li>

                        <li><a href="/singlecommunity">                                                            
                            <img src="/assets/kayla_news.jpg">                                
                            <p><span class="username">Kayla </span> Mentioned you in a post, <span class="community"> Devcom</span></p>
                            <h6 class="time">3mins</h6>                                                            
                        <hr>
                        </a></li>

                        <li><a href="/singlecommunity">                                                            
                            <img src="/assets/kayla_news.jpg">                                
                            <p><span class="username">Kayla </span> Mentioned you in a post, <span class="community"> Devcom</span></p>
                            <h6 class="time">3mins</h6>                                                            
                        <hr>
                        </a></li>
                        <!-- End loop -->
                    </ul>                    
                </div>                
                <div class="col-md" style="text-align: center;">
                    meme
                </div>
                <div class="col-md-1"></div>
            </div> 
            <div class="row"> 
            </div>           
        </div>
        <div class="col"></div>        
    </div>        
</div>